---
layout: base
---
<head>
  <link rel="stylesheet" href="/assets/css/donate.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<div class="intro-header"></div>

<div role="main" class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {{ content }}

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}
</div>
